{{ if eq .chezmoi.osRelease.id "nixos" -}}
#!/run/current-system/sw/bin/bash
{{ else -}}
#!/bin/bash
{{ end -}}
set -e
set +h

nix-have() {
  attr="$(nix-env -f '<nixpkgs>' -qaPA "$1" | awk '{print $2}')" 
  nix-env -q | grep "$attr" &> /dev/null
}

nix-install() {
  which nix-env &> /dev/null || return
  echo "[INSTALL] $1"
  nix-have "$1" || nix-env -f '<nixpkgs>' -iA "$1"
}

nix-install bashInteractive_5
nix-install exa
nix-install fd
nix-install fzf
nix-install htop
nix-install ripgrep
nix-install tmux
nix-install _1password

nix-install neovim
nix-install neovim-remote

nix-install bat
echo "[INSTALL] bat themes"
bat cache --build

echo "[INSTALL] tmux plugins... ish. prefix I then prefix U"
tmux_plugins="$HOME/.local/share/tmux/plugins"
if [[ -d "$tmux_plugins/tpm" ]]; then
  echo "tmux plugin manager already installed!"
else
  mkdir -p "$tmux_plugins"
  git clone https://github.com/tmux-plugins/tpm "$tmux_plugins/tpm"
fi

cat > "$HOME/.config/tmux/plugins.conf" <<EOF
set -g @tpm_plugins '\
         tmux-plugins/tpm \
         tmux-plugins/tmux-sensible \
         tmux-plugins/tmux-yank  \
         tmux-plugins/tmux-pain-control \
'
EOF
