{
  allowUnfree = true;
  {{- if .hacky_nix }}
  packageOverrides = pkgs: {
    nix = pkgs.nix.overrideAttrs (old: {
      patches = (old.patches or []) ++ [ ./nix-nfs.patch ];
    });
  };
  {{- end }}
}
